section {
  margin-top: -50px;
  padding-top: 50px;
}
#start {
  padding-top: 90px !important;
}

@media (max-width: 400px) {
  #start {
    padding-top: 70px !important;
  }
}

#mymap {
  min-height: 340px;
}

.upbutton {
  background: url("/img/up.png") no-repeat top left;
  height: 60px;
  width: 60px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: block;
  position: fixed;
  z-index: 999;
}

.divider {
  background-color: #f0f0f5;
}
